.admin-main{
    background-color: #FAFAFA;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;
    align-items: center;
}

.admin-login-content{
    display: grid;
    justify-content: center;
    box-shadow: 2px 4px 16px rgb(202, 202, 202);
    border-radius: 15px;
    background-color: white;
    align-items: center;
    padding: 60px 41px;
    border: 2px solid #D6D6D6;

}

.admin-input{
    font-size: 15px;
    margin-bottom: 60px;
    padding: 14px 26px;
    border: 2px solid #D6D6D6;
    border-radius: 15px;
    outline: none;
    box-shadow: 2px 4px 16px gainsboro;
    opacity: .7;
    line-height: 40px;
    font-family: 'Roboto', sans-serif;
}

.aproveBtn.admin{
    border: 2px solid blue;
    background-color: white;
    border-radius: 15px;
    padding: 14px 204px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    line-height: 40px;
    box-shadow: 2px 4px 16px gainsboro;
}

.admin-input:hover{
    opacity: 1;
}