.header{
    margin: 0px;
    padding: 0px;
    width: 100%;
    display:inline-flex;
    padding-left: 4.3%;
    justify-content:start;
    box-shadow: 0px -2px 8px gray;
    z-index: 2;
    position: sticky;
}

.header-content{
    margin: 0px;
    margin-left: 10%;
    margin-top: 50px;
    font-size: 44px;
}

.header-content{
    margin: 0px;
    margin-left: 10%;
    margin-top: 50px;
    font-size: 44px;
}

.img-header{
    width: 8%;
    max-width: 200px;
    min-width: 80px;
    min-height: 156px;
}