.main {
    background-color: #222222;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.main-content {
    max-width: 1280px;
    width: calc(0.7*100vw);
    background-color: white;
    z-index: 1;
    position: relative;
}